@font-face {
    font-family: "GilroyExtraBold";
    src: url("fonts/Gilroy-ExtraBold.otf");
}
.container-header-1 {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 0% !important;
}
.nav-one {
    box-shadow: none !important;
    background-color: #ffffff !important;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
}
.p-header-1{
    color: #000000;
    padding-right: 2rem !important;
    padding-bottom: 0% !important;
    margin-bottom: 0% !important;
    transition: transform 0.5s;
}
.p-header-1:hover{
   transform: scale(1.05);
}
.nav-one li {
    list-style: none !important;
}
.dropdown-toggle-1:after {
    display: none !important;
}

/* Image upload CSS */
.navbar-brand1 {
    width: 100px;
    height: 45px;
    cursor: pointer;
    transition: transform 0.5s;
}
.navbar-brand1:hover{  
    transform: scale(1.2);
    opacity: 0.5;
}
.btn-style-h1 {
    border-radius: 0.55rem !important;
    text-align: center !important;
    background-color: #212D63;
    margin-right: 2rem !important;
    padding-bottom: 0.625rem !important;
}
.icon-style-h1 {
    font-size: 2.5rem !important;
    border-radius: 100% !important;
    line-height: 10px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    background-color: #212D63 !important;
    font-family: 'Gilroy SemiBold', sans-serif !important;
}
.fas-h-1:hover{
   color:rgb(159, 159, 162) !important;
}
.toggler-icon-style-h1{
    font-size: 2.1rem !important;
    text-align: center !important;
    color: #6e6c6c !important;
}

@media(max-width:991px){
.btn-style-h1 {
    margin-right: 0rem !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    padding-top: 10px !important;
}
.p-header-1{
     margin-bottom: 0% !important;
}
.p-header-1:hover{
   transform: scale(1);
   color: #cb1414 !important;
}
.icon-style-h1 {
    margin-left: auto;
    font-size: 2.3rem !important;
    border-width: 0rem !important;
    color: #514f4f !important;
    background-color: #ffffff !important;
    border-radius: 100% !important;
    line-height: 10px !important;
    size: 2rem !important;
}
.nav-one{
    padding-bottom: 12px;
    padding-top: 12px;
}
}



